<div class="container">
  <div class = "navbar" ng-include="'/views/navbar.html'"></div> 
  <div class="row">
    <div class="four columns">
      <h4>Add Account</h4>
      <form ng-submit="createAccount(account)">
        <div class="row">
          <label for="name">Account Name</label>
          <input class="u-full-width" type="text" placeholder="checking account" id="name" ng-model="account.name">
          <label for="type">Account Type</label>
          <select class="u-full-width" id="type"  ng-model="account.type">
            <option value="1">General</option>
            <option value="2">Asset</option>
            <option value="3">Liability</option>
            <option value="4">Investment</option>
          </select>
          <div ng-show="account.type == 4">
            <label for="interest">Yearly Interest/Growth (percentage)</label>
            <input class="u-full-width" type="text" placeholder="6.5" value = "6.5" id="interest" ng-model="account.interest">
          </div>
        </div>
        <input class="button-primary" type="submit" value="Add">
      </form>
    </div>
    <div class="eight columns">
      <h4>What is an account?</h4>
      <p>An account is a logical grouping of transactions. It may be a literal bank account, or it might be something be something more abstract, like a grouping of your assets or liabilities (debt).</p>
      <h5>Account Types</h5>
      <p>There are four account types. They are:</p>
      <ul>
        <li><b>General:</b> Used for chequing and savings accounts. Determines your monthly spend/income.</li>
        <li><b>Asset:</b> Used for tracking things which hold significant value, like a car or house. Included in your assets, but not in your monthly spend/income.</li>
        <li><b>Liability:</b> Used tracking your debts, like a student loan or mortgage. Used to calculate your liabilities and net worth. Not included in your monthly spend/income.</li>
        <li><b>Investment:</b> Used for tracking your investments, like a retirement savings plan. Investment accounts also ask you for an interest rate. This interest rate is used to estimate the growth of your investments. By default, we suggest an interest rate of 6.5%, since it is close to the average return on index funds. You can choose a higher or lower interest rate if you're feeling more optimistic or pessimistic than us.</li>
      </ul>
      <p>Most people would have at least four accounts:</p>
      <ul>
        <li>General: Bank Account (ex. Chequing)</li>
        <li>Investment: Investment Account (ex. Retirement Savings)</li>
        <li>Liability: General Liabilities (ex. Student Loan, Mortgage, etc)</li>
        <li>Asset: General Assets (ex. House, Car, etc)</li>
      </ul>
    </div>
  </div>
</div>