<div class="container">
  <div class = "navbar" ng-include="'/views/navbar.html'"></div> 
  <div class="row">
    <div class="four columns">
      <h4>Add Account</h4>
      <form ng-submit="createAccount(account)">
        <div class="row">
          <label for="name">Account Name</label>
          <input class="u-full-width" type="text" placeholder="checking account" id="name" ng-model="account.name">
          <label for="type">Account Type</label>
          <select class="u-full-width" id="type"  ng-model="account.type">
            <option value="1">General</option>
            <option value="2">Asset</option>
            <option value="3">Liability</option>
            <option value="4">Investment</option>
          </select>
          <div ng-show="account.type == 4">
            <label for="interest">Average Yearly Growth Estimate (percentage)</label>
            <input class="u-full-width" type="text" placeholder="6.5" value = "6.5" id="interest" ng-model="account.interest">
          </div>
        </div>
        <input class="button-primary" type="submit" value="Add">
      </form>
    </div>
    <div class="eight columns">
      <h4>What is an account?</h4>
      <p>An account is a logical grouping of transactions. It may be a literal bank account, or it might be something be something more abstract, like a grouping of your assets or liabilities (debt).</p>
      <h5>Account Types</h5>
      <p>There are four account types. They are:</p>
      <ul>
        <li><b>General:</b> Used for day to day transactions.</li>
        <li><b>Investment:</b> Used for tracking your investments.</li>
        <li><b>Asset:</b> Used for tracking things that you own which hold significant value.</li>
        <li><b>Liability:</b> Used for tracking your debts.</li>
      </ul>
      <p>Most people would have one of each account type.</p>
    </div>
  </div>
</div>