<div class="container">
  <div class = "navbar" ng-include="'/views/navbar.html'"></div>  
  <div class = "dashboard">
    <div class="row">
      <div class="six columns">
        <h3>Net Worth <span class = "heading-small">+$500 (12%)</span></h3>
        <canvas id="myChart"></canvas>
        <div id = "worth-legend" class = "legend"></div>
        <script>
        var data = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [
        {
            label: "Net Worth",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [30, 34, 38, null, null, null, null]
        },
        {
            label: "Net Worth (Projected)",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [null, null, 38, 45, 60, 70, 90]
        },
        {
            label: "Assets",
            fillColor: "rgba(123,122,212,0.2)",
            strokeColor: "rgba(123,122,212,1)",
            pointColor: "rgba(123,122,212,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(123,122,212,1)",
            data: [30, 34, 38, 39, 100, 150, 160]
        },
        {
            label: "Liabilities",
            fillColor: "rgba(43,222,31,0.2)",
            strokeColor: "rgba(43,222,31,1)",
            pointColor: "rgba(43,222,31,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(43,222,31,1)",
            data: [210, 110, 90, 70, 22, 11, 1]
        },
    ]
};
          // Get context with jQuery - using jQuery's .get() method.
          var ctx = $("#myChart").get(0).getContext("2d");
          // This will get the first returned node in the jQuery collection.
          var myNewChart = new Chart(ctx);

          var myLineChart = new Chart(ctx).Line(data);

          $('#worth-legend').html(myLineChart.generateLegend());
        </script>
        <h3>Income &amp; Spend</h3>
        <canvas id="income"></canvas>
        <script>
        var data = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [
        {
            label: "Income",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [30, 34, 38, 39, 40, 50, 60]
        },
        {
            label: "Spend",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [12, 33, 38, 45, 60, 70, 90]
        },
        {
            label: "Profit",
            fillColor: "rgba(84,111,231,0.2)",
            strokeColor: "rgba(84,111,231,1)",
            pointColor: "rgba(84,111,231,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(84,111,231,1)",
            data: [2, 4, 5, 3, 3, 5, 6]
        }
    ]
};
          // Get context with jQuery - using jQuery's .get() method.
          var ctx = $("#income").get(0).getContext("2d");
          // This will get the first returned node in the jQuery collection.
          var myNewChart = new Chart(ctx);

          var myLineChart = new Chart(ctx).Line(data);

          $('#income-legend').html(myLineChart.generateLegend());
        </script>
        <div id = "income-legend" class = "legend"></div>
      </div>
      <div class="six columns">
        <h3>Goal Progress</h3>
        <p>Your goal of $10,000 in passive income requires an investment of approximately $153,846.15. Here's how you're doing so far:</p>
        <div class = "row">
            <div class = "one-half column">
                <h6>Current Investments:</h6>
                <h5>$5000</h5> 
                <h6>Current Yearly Income:</h6>
                <h5>$300</h5> 
                <h6>Percentage of Goal:</h6>
                <h5>3%</h5> 
            </div>
            <div class = "one-half column">
                <h6>Time Until Goal Reached:</h6> 
                <h4>45 Years</h4>
                <p class = "small-gray">(you will be 68 at this time)</p>
            </div>
        </div>
        <p class = "small-gray">These estimates are made with the interest rates set on your investments. They also assume that you maintain your current distribution of funds between accounts.
        <h3>Accounts</h3>
        <ul>
            <li ng-repeat="account in accounts">{{account.name}}</li>
        </ul>
        <a class="button button-primary" href = "/account/add">Add an account</a>
      </div>
    </div>
  </div>
</div>