<div class="container">
  <div class = "dashboard">
    <h1>Welcome username.</h1>
    <div class="row">
      <div class="six columns">
        <h3>Net Worth <span class = "heading-small">+$500 (12%)</span></h3>
        <canvas id="myChart"></canvas>
        <div id = "worth-legend" class = "legend"></div>
        <script>
        var data = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [
        {
            label: "Net Worth",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [30, 34, 38, null, null, null, null]
        },
        {
            label: "Net Worth (Projected)",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [null, null, 38, 45, 60, 70, 90]
        },
        {
            label: "Assets",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [30, 34, 38, 39, 100, 150, 160]
        },
        {
            label: "Liabilities",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [210, 110, 90, 70, 22, 11, 1]
        },
    ]
};
          // Get context with jQuery - using jQuery's .get() method.
          var ctx = $("#myChart").get(0).getContext("2d");
          // This will get the first returned node in the jQuery collection.
          var myNewChart = new Chart(ctx);

          var myLineChart = new Chart(ctx).Line(data);

          $('#worth-legend').html(myLineChart.generateLegend());
        </script>
        <h3>Monthly Savings</h3>
        <canvas id="income"></canvas>
        <script>
        var data = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [
        {
            label: "Income",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [30, 34, 38, 39, 40, 50, 60]
        },
        {
            label: "Spend",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [12, 33, 38, 45, 60, 70, 90]
        },
        {
            label: "Savings",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [2, 4, 5, 3, 3, 5, 6]
        }
    ]
};
          // Get context with jQuery - using jQuery's .get() method.
          var ctx = $("#income").get(0).getContext("2d");
          // This will get the first returned node in the jQuery collection.
          var myNewChart = new Chart(ctx);

          var myLineChart = new Chart(ctx).Line(data);

          $('#income-legend').html(myLineChart.generateLegend());
        </script>
        <div id = "income-legend" class = "legend"></div>
      </div>
      <div class="six columns">
        <h3>Accounts</h3>
        <a class="button button-primary" href = "/account/add">Add an account</a>
      </div>
    </div>
  </div>
</div>