<div class="container">
  <div class = "login">
    <div class="row">
      <div class="one-half column">
        <h4>Login</h4>
        <form ng-submit="login(logCredentials)">
          <div class="row">
            <div class="six columns">
              <label for="username">Username</label>
              <input class="u-full-width" type="text" placeholder="username" id="login-username" ng-model="logCredentials.username">
            </div>
            <div class="six columns">
              <label for="username">Password</label>
              <input class="u-full-width" type="password" placeholder="password" id="login-password" ng-model="logCredentials.password">
            </div>
          </div>
          <div class = "row">
            <p ng-show = "loginError" class = "error">Error: {{loginError}}.</p>
            <input class="button-primary" type="submit" value="Login">
          </div>
        </form>
      </div>
      <div class="one-half column">
        <h4>Register</h4>
        <form ng-submit="register(regCredentials)">
          <div class="row">
            <div class="six columns">
              <label for="username">Username</label>
              <input class="u-full-width" type="text" placeholder="username" id="register-username" ng-model="regCredentials.username">
            </div>
            <div class="six columns">
              <label for="username">Password</label>
              <input class="u-full-width" type="password" placeholder="password" id="register-password" ng-model="regCredentials.password">
            </div>
          </div>
          <div class = "row">
            <p ng-show = "registerError" class = "error">Error: {{registerError}}.</p>
            <input class="button-primary" type="submit" value="Register">
          </div>
        </form>
      </div>
    </div>
    <div class="row top-margin">
      <h4>Updates</h4>
      <p class = "small-gray small-bottom-margin">Current Ballistic Version: v.1.1.0 - <a href = "https://github.com/JeremyMiller/ballistic/issues/new" target="_blank">suggest changes</a></p>
      <span class = "version-header">Version 1.1.0:</span>
      <p>
        <span class = "feature-header">Users</span><br>
        <em>Password Change:</em> Users can now change their passwords.<br>
        <span class = "feature-header">Investments</span><br>
        <em>Depleting Principal:</em> It is now possible to enable depleting principal when calculating investment goals. For more information, check your settings.<br>
        <em>Include Inflation:</em> It is now possible to set an inflation rate for use in predictive calculations. For more information, check your settings.<br>
        <span class = "feature-header">General</span><br>
        <em>Fixes:</em> Improve accuracy of investment goal prediction.<br>
        <em>Additions:</em> Added update news to login page.
      </p>
      <span class = "version-header">Version 1.0.1:</span>
      <p>
        <span class = "feature-header">Accounts</span><br>
        <em>Hide Unused Account Types:</em> Charts for unused accounts types will no longer show on dashboard.<br>
        <span class = "feature-header">General</span><br>
        <em>Fixes:</em> Fix Typos.<br>
        <em>Additions:</em> Added explanatory text to login page.
      </p>
      <h4>What is Ballistic Finance?</h4>
      <p>Ballistic Finance is an online finance tracker. It can track general accounts, investments, assets, and debts. It can also predict your retirement age based on your goals and investment history. It is primarily a motivational tool to help people improve their financial health. It was created by <a href = "https://twitter.com/jrmiller_" target="_blank">Jeremy Miller</a> and you can find the source code on <a href = "https://github.com/JeremyMiller/ballistic" target = "_blank">GitHub</a>.</p>
      <p>Ballistic is built on the philosophy of spending little and saving a lot in order to achieve "financial freedom", which is the point when your investments begin earning enough interest to replace your work income.</p>
      <p>Here's a screenshot of the app:</p>
      <a href = "/img/screenshot.jpg"><img src = "/img/screenshot.jpg" class = "screenshot"></a>
    </div>
  </div>
</div>