<div class="container">
  <div class = "login">
    <div class="row">
      <div class="one-half column">
        <h4>Login</h4>
        <form ng-submit="login(logCredentials)">
          <div class="row">
            <div class="six columns">
              <label for="username">Username</label>
              <input class="u-full-width" type="text" placeholder="username" id="login-username" ng-model="logCredentials.username">
            </div>
            <div class="six columns">
              <label for="username">Password</label>
              <input class="u-full-width" type="password" placeholder="password" id="login-password" ng-model="logCredentials.password">
            </div>
          </div>
          <div class = "row">
            <p ng-show = "loginError" class = "error">Error: {{loginError}}.</p>
            <input class="button-primary" type="submit" value="Login">
          </div>
        </form>
      </div>
      <div class="one-half column">
        <h4>Register</h4>
        <form ng-submit="register(regCredentials)">
          <div class="row">
            <div class="six columns">
              <label for="username">Username</label>
              <input class="u-full-width" type="text" placeholder="username" id="register-username" ng-model="regCredentials.username">
            </div>
            <div class="six columns">
              <label for="username">Password</label>
              <input class="u-full-width" type="password" placeholder="password" id="register-password" ng-model="regCredentials.password">
            </div>
          </div>
          <div class = "row">
            <p ng-show = "registerError" class = "error">Error: {{registerError}}.</p>
            <input class="button-primary" type="submit" value="Register">
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class = "centered top-margin">
        <p class = "small-gray">Ballistic Finance is an online finance tracker. It can track general accounts, investments, assets, and debts. It can also predict your retirement age based on your goals and investment history. It is primarily a motivational tool to help people improve their financial health. It was created by <a href = "https://twitter.com/jrmiller_" target="_blank">Jeremy Miller</a> and you can find the source code on <a href = "https://github.com/JeremyMiller/ballistic" target = "_blank">GitHub</a>.</p>
        <p class = "small-gray">For more information, check out the <a href = "http://blog.jrmiller.co/ballistic-finance/" target = "_blank">announcement post</a>.</p>
      </div>
    </div>
  </div>
</div>