<div class="container">
  <div class = "login">
    <div class="row">
      <div class="one-half column">
        <h4>Login</h4>
        <form>
          <div class="row">
            <div class="six columns">
              <label for="username">Username</label>
              <input class="u-full-width" type="text" placeholder="username" id="username">
            </div>
            <div class="six columns">
              <label for="username">Password</label>
              <input class="u-full-width" type="password" placeholder="password" id="password">
            </div>
          </div>
          <input class="button-primary" type="submit" value="Login">
        </form>
      </div>
      <div class="one-half column">
        <h4>Register</h4>
        <form>
          <div class="row">
            <div class="six columns">
              <label for="username">Username</label>
              <input class="u-full-width" type="text" placeholder="username" id="username">
            </div>
            <div class="six columns">
              <label for="username">Password</label>
              <input class="u-full-width" type="password" placeholder="password" id="password">
            </div>
          </div>
          <input class="button-primary" type="submit" value="Register">
        </form>
      </div>
    </div>
  </div>
</div>