<div class="container">
  <div class = "navbar" ng-include="'/views/navbar.html'"></div> 
  <div class="row">
    <div class="four columns">
      <h4>Settings</h4>
      <form ng-submit="saveMeta(meta)">
        <div class="row">
          <label for="goal">Goal</label>
          <input class="u-full-width" type="text" placeholder="26000.00" id="goal" ng-model="meta.goal">
          <label for="age">Age</label>
          <input class="u-full-width" type="text" placeholder="26" id="age" ng-model="meta.age">
          <label for="currency">Currency Symbol</label>
          <input class="u-full-width" type="text" placeholder="$" id="currency" ng-model="meta.currency">
        </div>
        <p ng-show = "error" class = "error">Error: {{error}}.</p>
        <p ng-show = "message" class = "message">{{message}}.</p>
        <input class="button-primary" type="submit" value="Save">
      </form>
      <h4>Account</h4>
      <form ng-submit="savePassword(password)">
        <div class="row">
          <label for="password">New Password</label>
          <input class="u-full-width" type="password" placeholder="New Password" id="password" ng-model="password.new">
          <label for="current-password">Enter Current Password to Confirm</label>
          <input class="u-full-width" type="password" placeholder="Current Password" id="current-password" ng-model="password.current">
        </div>
        <p ng-show = "password.error" class = "error">Error: {{password.error}}.</p>
        <p ng-show = "password.message" class = "message">{{password.message}}.</p>
        <input class="button-primary" type="submit" value="Change">
      </form>
    </div>
    <div class="eight columns">
      <h5>Goal</h5>
      <p>This is the yearly amount you want to earn from your investments.</p>
      <h5>Age</h5>
      <p>Your current age. It's used to figure out how old you will be when you reach your goal.</p>
      <h5>Currency Symbol</h5>
      <p>This is the currency symbol used when displaying amounts.</p>
    </div>
  </div>
</div>