<div class="container">
  <div class = "navbar" ng-include="'/views/navbar.html'"></div> 
  <div class="row">
    <div class="four columns">
      <h4>Settings</h4>
      <form ng-submit="saveMeta(meta)">
        <div class="row">
          <label for="goal">Goal</label>
          <input class="u-full-width" type="text" placeholder="26000.00" id="goal" ng-model="meta.goal">
          <label for="age">Age</label>
          <input class="u-full-width" type="text" placeholder="26" id="age" ng-model="meta.age">
          <label for="currency">Currency Symbol</label>
          <input class="u-full-width" type="text" placeholder="$" id="currency" ng-model="meta.currency">
          <label for="depleting-principal">
            <input type="checkbox" id = "depleting-principal" ng-model="meta.depletingPrincipal">
            <span>Assume Depleting Principal</span>
          </label>
          <div ng-show="meta.depletingPrincipal">
            <label for="life-span">Expected Lifespan</label>
            <input class="u-full-width" type="text" placeholder="81" id="life-span" ng-model="meta.lifeSpan">
          </div>
          <label for="include-inflation">
            <input type="checkbox" id = "include-inflation" ng-model="meta.includeInflation">
            <span>Include Inflation in Calculations</span>
          </label>
          <div ng-show="meta.includeInflation">
            <label for="inflation">Expected Rate of Inflation (percentage, yearly)</label>
            <input class="u-full-width" type="text" placeholder="2" id="inflation" ng-model="meta.inflation">
          </div>
        </div>
        <p ng-show = "error" class = "error">Error: {{error}}.</p>
        <p ng-show = "message" class = "message">{{message}}.</p>
        <input class="button-primary" type="submit" value="Save">
      </form>
      <h4>Account</h4>
      <form ng-submit="savePassword(password)">
        <div class="row">
          <label for="password">New Password</label>
          <input class="u-full-width" type="password" placeholder="New Password" id="password" ng-model="password.new">
          <label for="current-password">Enter Current Password to Confirm</label>
          <input class="u-full-width" type="password" placeholder="Current Password" id="current-password" ng-model="password.current">
        </div>
        <p ng-show = "password.error" class = "error">Error: {{password.error}}.</p>
        <p ng-show = "password.message" class = "message">{{password.message}}.</p>
        <input class="button-primary" type="submit" value="Change">
      </form>
    </div>
    <div class="eight columns">
      <h5>Goal</h5>
      <p>This is the yearly amount you want to earn from your investments in today's dollars.</p>
      <h5>Age</h5>
      <p>Your current age. It's used to figure out how old you will be when you reach your goal.</p>
      <h5>Currency Symbol</h5>
      <p>This is the currency symbol used when displaying amounts.</p>
      <h5>Assume Depleting Principal</h5>
      <p>By default, Ballistic will assume that you expect to receive your goal income indefinitely. Selecting this option and entering your expected lifespan will cause it to instead assume that your investments will be expended when you reach the end of your estimated lifespan. This is a common feature in retirement plans based on tight budgets. <em>Note: Depleting principal calculations are more complex, so estimates are currently restricted to within six months of the real date. Accuracy to within the month will be added once caching is implemented.</em></p>
      <h5>Include Inflation in Calculations</h5>
      <p>By default, Ballistic will not consider inflation. By enabling this option and entering an inflation rate, Ballistic will use the rate in it's calculations. It is generally a good idea to turn this feature on. It is not on by default due to the volatility of inflation rates between currencies and even within the same currency.</p>
    </div>
  </div>
</div>