<div class="row">
  <div class="six columns">
    <h1>{{account.name}}</h1>
    <h3>Purchases &amp; Appreciation</h3>
    <span graph="historicalInvestmentData" type = "line"></span>
    <h3>Asset Worth Distribution</h3>
    <div ng-if="distributionData.length > 0">
      <span graph="distributionData" type = "pie"></span>
    </div>
    <div ng-if="distributionData.length == 0">
      <p>This account does not currently have any assets.</p>
    </div>
    <h3>Asset List</h3>
    <div ng-if="distributionData.length > 0">
      <ul class = "asset-list">
        <li ng-repeat="asset in distributionData | orderBy:'value':true">
          <div class="row">
            <div class = "one-half column">
              <h5>{{asset.name}}</h5>
            </div>
            <div class = "one-half column">
              <h5 class = "money-align">{{asset.value | currency:user.meta.currency}}</h5>
            </div>
            <form ng-submit="createTransaction(categoryTransactions[asset.name])">
              <div class="row">
                <div class = "one-third column">
                  <label for="amount">Amount</label>
                  <span ng-show = "categoryTransactions[asset.name].type == TRANSACTION_TYPES.Sale">{{asset.value | currency:user.meta.currency}}</span>
                  <span ng-hide = "categoryTransactions[asset.name].type == TRANSACTION_TYPES.Sale">
                    <input class="u-full-width" type="text" placeholder="0.00" id="amount" ng-model="categoryTransactions[asset.name].amount">
                  </span>
                </div>
                <div class = "one-third column">
                  <label for="date">Date</label>
                  <input class="u-full-width" type="text" placeholder="yyyy/mm/dd" id="date" value="{{categoryTransactions[asset.name].date}}" ng-model="categoryTransactions[asset.name].date" date-picker>
                </div>
                <div class = "one-third column">
                  <label>Type</label>
                  <select class="u-full-width" id="type"  ng-model="categoryTransactions[asset.name].type">
                    <option value="7">Appreciation</option>
                    <option value="8">Depreciation</option>
                    <option value="9">Sale</option>
                  </select>
                </div>
              </div>
              <p ng-show = "categoryTransactions[asset.name].error" class = "error">Error: {{categoryTransactions[asset.name].error}}.</p>
              <input class="button-primary" type="submit" value="Update">
            </form>
          </div>
        </li>
      </ul>
    </div>
    <div ng-if="distributionData.length == 0">
      <p>This account does not currently have any assets.</p>
    </div>
  </div>
  <div class="six columns">
    <h3>Account Info</h3>
    <div class = "row">
      <div class = "one-half column">
        <h6>Purchases for {{today.getFullYear()}}:</h6>
        <h5>{{statistics.yearlyPurchases | currency:user.meta.currency}}</h5>
        <h6>Sales for {{today.getFullYear()}}:</h6>
        <h5>{{statistics.yearlySales | currency:user.meta.currency}}</h5>
        <h6>Appreciation for {{today.getFullYear()}}:</h6>
        <h5>{{statistics.yearlyAppreciation | currency:user.meta.currency}}</h5>
        <h6>Depreciation for {{today.getFullYear()}}:</h6>
        <h5>{{statistics.yearlyDepreciation | currency:user.meta.currency}}</h5>
      </div>
      <div class = "one-half column">
        <h6>Worth of Assets:</h6> 
        <h4>{{statistics.balance | currency:user.meta.currency}}</h4>
        <h6>Net for {{today.getFullYear()}}:</h6>
        <h4>{{statistics.yearlyNet | currency:user.meta.currency}}</h4>
      </div>
    </div>
    <h3>Purchase Asset</h3>
    <form ng-submit="createTransaction(transaction)">
      <div class="row">
        <div class = "one-half column">
          <label for="amount">Amount</label>
          <input class="u-full-width" type="text" placeholder="0.00" id="amount" ng-model="transaction.amount">
        </div>
        <div class = "one-half column">
          <label for="date">Date</label>
          <input class="u-full-width" type="text" placeholder="yyyy/mm/dd" id="date" value="{{transaction.date}}" ng-model="transaction.date" date-picker>
        </div>
      </div>
      <div class="row">
        <label for="category">Asset Name</label>
        <input class="u-full-width" type="text" placeholder="House, car, etc" id="category" ng-model="transaction.category">
        <label for="description">Description (optional)</label>
        <input class="u-full-width" type="text" placeholder="Details..." id="description" ng-model="transaction.description">
        <p ng-show = "transaction.error" class = "error">Error: {{transaction.error}}.</p>
        <input class="button-primary" type="submit" value="Add">
      </div>
    </form>
    <h3>Recent Transactions</h3>
    <ul class = "recent-transactions">
      <li ng-repeat="transaction in transactions | orderBy:'date':true">
        <div class="row">
          <div class = "one-half column">
            <p><b>Amount:</b> {{transaction.amount | currency:user.meta.currency}}
            <br><b>Type:</b> <span class = "{{TRANSACTION_TYPES[transaction.type] | lowercase}}">{{TRANSACTION_TYPES[transaction.type]}}</span>
            </p>
          </div>
          <div class = "one-half column">
            <p><b>Date:</b> {{transaction.date | date:'longDate'}}
            <br><b>Asset:</b> <span ng-show = "transaction.Category">{{transaction.Category.name}}</span><span ng-hide = "transaction.Category">None</span></p>
          </div>
          <p><b>Description:</b> <span ng-show = "transaction.description">{{transaction.description}}</span><span ng-hide = "transaction.description">n/a</span></p>
        </div>
      </li>
    </ul>
    <a class="button" href = "/account/{{account.id}}/transactions">Review Transactions</a>
  </div>
</div>