<div class="row">
  <div class="six columns">
    <h1>{{account.name}} <a class="button button-primary" ng-click="account.edit = true;" ng-hide="account.edit">Edit</a></h1>
    <form ng-submit="editAccount(account)" ng-show="account.edit">
      <div class="row">
        <label for="name">Account Name</label>
        <input class="u-full-width" type="text" placeholder="Account Name" id="name" ng-model="account.name">
      </div>
      <p ng-show = "account.error" class = "error">Error: {{account.error}}.</p>
      <input class="button-primary" type="submit" value="Save">
      <a class="button button-warning pull-right" ng-click="deleteAccount(account)">
        <span ng-if="account.deleteWarning">Click again to delete</span>
        <span ng-if="!account.deleteWarning">Delete this account</span>
      </a>
    </form>
    <h3>Income &amp; Spend</h3>
    <span graph="historicalInvestmentData" type = "line"></span>
    <h3>Last Month's Spend</h3>
    <div ng-if="distributionData.length > 0">
      <span graph="distributionData" type = "pie"></span>
    </div>
    <div ng-if="distributionData.length == 0">
      <p>No spend for last month.</p>
    </div>
  </div>
  <div class="six columns">
    <h3>Account Info</h3>
    <div class = "row account-info">
      <div class = "one-half column">
        <h6>Income for {{today.getFullYear()}}:</h6>
        <h5>{{statistics.yearlyIncome | currency:user.meta.currency}}</h5> 
        <h6>Spending for {{today.getFullYear()}}:</h6>
        <h5>{{statistics.yearlySpend | currency:user.meta.currency}}</h5>
      </div>
      <div class = "one-half column">
        <h6>Balance:</h6> 
        <h4>{{statistics.balance | currency:user.meta.currency}}</h4>
      </div>
    </div>
    <h3>Add Transaction</h3>
    <form ng-submit="createTransaction(transaction)">
      <div class="row">
        <div class = "one-half column">
          <label for="amount">Amount</label>
          <input class="u-full-width" type="text" placeholder="0.00" id="amount" ng-model="transaction.amount">
        </div>
        <div class = "one-half column">
          <label for="date">Date</label>
          <input class="u-full-width" type="text" placeholder="yyyy/mm/dd" id="date" value="{{transaction.date}}" ng-model="transaction.date" date-picker>
        </div>
      </div>
      <div class="row">
        <div class = "one-half column">
          <label for="type">Type</label>
          <select class="u-full-width" id="type"  ng-model="transaction.type">
            <option value="4">Spend</option>
            <option value="5">Income</option>
          </select>
        </div>
        <div class = "one-half column">
          <label for="category">Category</label>
          <span options="account.Categories" id = "category" model = "transaction.category" placeholder = "Food, Contract Work, etc"></span>
        </div>
        <label for="description">Description (optional)</label>
        <input class="u-full-width" type="text" placeholder="Details..." id="description" ng-model="transaction.description">
        <p ng-show = "transaction.error" class = "error">Error: {{transaction.error}}.</p>
        <input class="button-primary" type="submit" value="Add">
      </div>
    </form>
    <h3>Recent Transactions</h3>
    <ul class = "recent-transactions">
      <li ng-repeat="transaction in transactions | orderBy:'date':true">
        <div class="row">
          <div class = "one-half column">
            <p><b>Amount:</b> {{transaction.amount | currency:user.meta.currency}}
            <br><b>Type:</b> <span class = "{{TRANSACTION_TYPES[transaction.type] | lowercase}}">{{TRANSACTION_TYPES[transaction.type]}}</span>
            </p>
          </div>
          <div class = "one-half column">
            <p><b>Date:</b> {{transaction.date | date:'longDate'}}
            <br><b>Category:</b> <span ng-show = "transaction.Category">{{transaction.Category.name}}</span><span ng-hide = "transaction.Category">None</span></p>
          </div>
          <p><b>Description:</b> <span ng-show = "transaction.description">{{transaction.description}}</span><span ng-hide = "transaction.description">n/a</span></p>
        </div>
      </li>
    </ul>
    <a class="button" href = "/account/{{account.id}}/transactions">Review Transactions</a>
  </div>
</div>