<div class="row">
  <div class="six columns">
    <h1>{{account.name}} <a class="button button-primary" ng-click="account.edit = true;" ng-hide="account.edit">Edit</a></h1>
    <form ng-submit="editAccount(account)" ng-show="account.edit">
      <div class="row">
        <div class = "one-half column">
          <label for="name">Account Name</label>
          <input class="u-full-width" type="text" placeholder="Account Name" id="name" ng-model="account.name">
        </div>
        <div class = "one-half column">
          <label for="interest">Average Yearly Growth Estimate</label>
          <input class="u-full-width" type="text" placeholder="6.5" id="interest" ng-model="account.interest">
        </div>
      </div>
      <p ng-show = "account.error" class = "error">Error: {{account.error}}.</p>
      <input class="button-primary" type="submit" value="Save">
      <a class="button button-warning pull-right" ng-click="deleteAccount(account)">
        <span ng-if="account.deleteWarning">Click again to delete</span>
        <span ng-if="!account.deleteWarning">Delete this account</span>
      </a>
    </form>
    <h3>Contributions &amp; Growth</h3>
    <span graph="historicalInvestmentData" type = "line"></span>
    <h3>Portfolio Distribution</h3>
    <div ng-if="distributionData.length > 0">
      <span graph="distributionData" type = "pie"></span>
    </div>
    <div ng-if="distributionData.length == 0">
      <p>There are currently no investments in this account.</p>
    </div>
    <h3>Portfolio</h3>
    <div ng-if="distributionData.length > 0">
      <ul class = "debt-list">
        <li ng-repeat="investment in distributionData | orderBy:'value':true">
          <div class="row">
            <div class = "seven columns">
              <h5>{{investment.name}}</h5>
            </div>
            <div class = "five columns">
              <h5 class = "money-align">{{investment.value | currency:user.meta.currency}}</h5>
            </div>
            <form ng-submit="createTransaction(categoryTransactions[investment.name])">
              <div class="row">
                <div class = "one-third column">
                  <label for="amount">Amount</label>
                  <input class="u-full-width" type="text" placeholder="0.00" id="amount" ng-model="categoryTransactions[investment.name].amount">
                </div>
                <div class = "one-third column">
                  <label for="date">Date</label>
                  <input class="u-full-width" type="text" placeholder="yyyy/mm/dd" id="date" value="{{categoryTransactions[investment.name].date}}" ng-model="categoryTransactions[investment.name].date" date-picker>
                </div>
                <div class = "one-third column">
                  <label>Type</label>
                  <select class="u-full-width" id="type"  ng-model="categoryTransactions[investment.name].type">
                    <option value="2">Growth</option>
                    <option value="3">Withdrawl</option>
                  </select>
                </div>
              </div>
              <p ng-show = "categoryTransactions[investment.name].error" class = "error">Error: {{categoryTransactions[investment.name].error}}.</p>
              <input class="button-primary" type="submit" value="Update">
            </form>
          </div>
        </li>
      </ul>
    </div>
    <div ng-if="distributionData.length == 0">
      <p>There are currently no investments in this account.</p>
    </div>
  </div>
  <div class="six columns">
    <h3>Account Info</h3>
    <div class = "row">
      <div class = "one-half column">
        <h6>Contributions for {{today.getFullYear()}}:</h6>
        <h5>{{statistics.yearlyContributions | currency:user.meta.currency}}</h5> 
        <h6>Withdrawals for {{today.getFullYear()}}:</h6>
        <h5>{{statistics.yearlyWithdrawals | currency:user.meta.currency}}</h5>
        <h6>Interest for {{today.getFullYear()}}:</h6>
        <h5>{{statistics.yearlyGrowth | currency:user.meta.currency}}</h5> 
      </div>
      <div class = "one-half column">
        <h6>Balance:</h6> 
        <h4>{{statistics.balance | currency:user.meta.currency}}</h4>
        <h6>Estimated Yearly Interest:</h6> 
        <h4>{{statistics.balance * account.interest / 100 | currency:user.meta.currency}}</h4>
      </div>
    </div>
    <h3>Purchase Investment</h3>
    <form ng-submit="createTransaction(transaction)">
      <div class="row">
        <div class = "one-half column">
          <label for="amount">Amount</label>
          <input class="u-full-width" type="text" placeholder="0.00" id="amount" ng-model="transaction.amount">
        </div>
        <div class = "one-half column">
          <label for="date">Date</label>
          <input class="u-full-width" type="text" placeholder="yyyy/mm/dd" id="date" value="{{transaction.date}}" ng-model="transaction.date" date-picker>
        </div>
      </div>
      <div class="row">
        <label for="category">Fund Name</label>
        <input class="u-full-width" type="text" placeholder="NASDAQ Index Fund, etc" id="category" ng-model="transaction.category">
        <label for="description">Description (optional)</label>
        <input class="u-full-width" type="text" placeholder="Details..." id="description" ng-model="transaction.description">
        <p ng-show = "transaction.error" class = "error">Error: {{transaction.error}}.</p>
        <input class="button-primary" type="submit" value="Add">
      </div>
    </form>
    <h3>Recent Transactions</h3>
    <ul class = "recent-transactions">
      <li ng-repeat="transaction in transactions | orderBy:'date':true">
        <div class="row">
          <div class = "one-half column">
            <p><b>Amount:</b> {{transaction.amount | currency:user.meta.currency}}
            <br><b>Type:</b> <span class = "{{TRANSACTION_TYPES[transaction.type] | lowercase}}">{{TRANSACTION_TYPES[transaction.type]}}</span></p>
          </div>
          <div class = "one-half column">
            <p><b>Date:</b> {{transaction.date | date:'longDate'}}
            <br><b>Category:</b> <span ng-show = "transaction.Category">{{transaction.Category.name}}</span><span ng-hide = "transaction.Category">None</span></p>
          </div>
          <p><b>Description:</b> <span ng-show = "transaction.description">{{transaction.description}}</span><span ng-hide = "transaction.description">n/a</span></p>
        </div>
      </li>
    </ul>
    <a class="button" href = "/account/{{account.id}}/transactions">Review Transactions</a>
  </div>
</div>