<div class="row">
  <div class="six columns">
    <h1>{{account.name}}</h1>
    <h3>Interest &amp; Payments</h3>
    <span graph="historicalDebtData" type = "line"></span>
    <h3>Debt Distribution</h3>
    <div ng-if="distributionData.length > 0">
      <span graph="distributionData" type = "pie"></span>
    </div>
    <div ng-if="distributionData.length == 0">
      <p>This account does not currently have any debts.</p>
    </div>
    <h3>Liability List</h3>
    <div ng-if="distributionData.length > 0">
      <ul class = "debt-list">
        <li ng-repeat="debt in distributionData | orderBy:'value':true">
          <div class="row">
            <div class = "one-half column">
              <h5>{{debt.name}}</h5>
            </div>
            <div class = "one-half column">
              <h5 class = "money-align">{{debt.value | currency:user.meta.currency}}</h5>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div ng-if="distributionData.length == 0">
      <p>This account does not currently have any debts.</p>
    </div>
  </div>
  <div class="six columns">
    <h3>Account Info</h3>
    <div class = "row">
      <div class = "one-half column">
        <h6>Payments for {{today.getFullYear()}}:</h6>
        <h5>{{statistics.yearlyPayments | currency:user.meta.currency}}</h5>
        <h6>Interest for {{today.getFullYear()}}:</h6>
        <h5>{{statistics.yearlyInterest | currency:user.meta.currency}}</h5>
        <h6>New Debt for {{today.getFullYear()}}:</h6>
        <h5>{{statistics.yearlyDebt | currency:user.meta.currency}}</h5>
      </div>
      <div class = "one-half column">
        <h6>Total Debt:</h6> 
        <h4>{{statistics.balance | currency:user.meta.currency}}</h4>
        <h6>Net Difference for {{today.getFullYear()}}:</h6>
        <h4>{{statistics.yearlyNet | currency:user.meta.currency}}</h4>
      </div>
    </div>
    <h3>Add Transaction</h3>
    <form ng-submit="createTransaction(transaction)">
      <div class="row">
        <div class = "one-half column">
          <label for="amount">Amount</label>
          <input class="u-full-width" type="text" placeholder="0.00" id="amount" ng-model="transaction.amount">
        </div>
        <div class = "one-half column">
          <label for="date">Date</label>
          <input class="u-full-width" type="text" placeholder="yyyy/mm/dd" id="date" ng-model="transaction.date" date-picker>
        </div>
      </div>
      <div class="row">
        <div class = "one-half column">
          <label for="type">Type</label>
          <select class="u-full-width" id="type" ng-model="transaction.type">
            <option value="11">Payment</option>
            <option value="10">New Debt</option>
            <option value="12">Interest</option>
          </select>
        </div>
        <div class = "one-half column">
          <label for="category">Debt Name</label>
          <input class="u-full-width" type="text" placeholder="Student loan, car, etc" id="category" ng-model="transaction.category">
        </div>
        <label for="description">Description (optional)</label>
        <input class="u-full-width" type="text" placeholder="Details..." id="description" ng-model="transaction.description">
        <p ng-show = "transactionError" class = "error">Error: {{transactionError}}.</p>
        <input class="button-primary" type="submit" value="Add">
      </div>
    </form>
    <h3>Recent Transactions</h3>
    <ul class = "transaction-list">
      <li ng-repeat="transaction in transactions | orderBy:'date':true" ng-click = "changePath('account/' + account.id + '/transactions/' + transaction.id)">
        <div class="row">
          <div class = "one-half column">
            <p>
              <b>Amount:</b> {{transaction.amount | currency:user.meta.currency}}
              <br><b>Type:</b> <span class = "{{TRANSACTION_TYPES[transaction.type] | lowercase}}">{{TRANSACTION_TYPES[transaction.type]}}</span>
            </p>
          </div>
          <div class = "one-half column">
            <p>
              <b>Date:</b> {{transaction.date | date:'longDate'}}
              <br><b>Liability:</b> <span ng-show = "transaction.Category">{{transaction.Category.name}}</span><span ng-hide = "transaction.Category">None</span>
            </p>
          </div>
          <p>
            <b>Description:</b> <span ng-show = "transaction.description">{{transaction.description}}</span><span ng-hide = "transaction.description">n/a</span>
          </p>
        </div>
      </li>
    </ul>
    <a class="button" href = "/account/{{account.id}}/transactions">Review Transactions</a>
  </div>
</div>