html, body {
  height: 100%;
}

.login {
  padding-top: 15%;
}

.centered {
  text-align: center;
}

.top-margin {
  margin-top: 40px;
}

.account-info {
  margin-bottom: 2.5rem;
}

.small-bottom-margin {
  margin-bottom: 0.3em;
}

h1 .heading-small, h2 .heading-small, h3 .heading-small, h4 .heading-small, h5 .heading-small, h6 .heading-small {
  font-size: 1.7rem;
  color: #999;
  letter-spacing: normal;
}

a {
  cursor: pointer;
  text-decoration: none;
}

canvas {
  width: 100% !important;
  max-width: 461px;
  height: auto !important;
}

h4, h5, h6 {
  margin-bottom: 0.2rem;
}

.legend span {
  width: 10px;
  display: inline-block;
  margin-right: 7px;
  height: 10px;
}

.legend ul {
  margin: 10px 0;
  padding: 0;
}

.legend ul li {
  display: inline-block;
  margin: 0;
  padding-right: 10px;
}

ul.nav {
  margin: 30px 0;
  padding: 0;
}

ul.nav li {
  display: inline-block;
  margin: 0;
  padding-right: 20px;
  font-size: 1.5rem;
}

ul.asset-list {
  margin: 0;
  padding: 0;
}

ul.asset-list li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.debt-list {
  margin: 0;
  padding: 0;
}

ul.debt-list li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.recent-transactions {
  margin: 0;
  padding: 0;
}

ul.recent-transactions li {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 2rem;
}

ul.recent-transactions li p {
  padding-bottom: 0rem;
  margin-bottom: 0rem;
}

ul.transaction-list {
  margin: 0;
  padding: 0;
}

ul.transaction-list li {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 2rem;
}

ul.transaction-list .transaction:hover {
  background-color: #EEE;
  cursor: pointer;
}

ul.transaction-list li p {
  padding-bottom: 0rem;
  margin-bottom: 0rem;
}

ul.account-list {
  margin: 0;
  padding: 0;
}

ul.account-list li {
  list-style: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

ul.account-list li:hover {
  background-color: #EEE;
}

ul.account-list li p {
  padding-bottom: 0rem;
}

p.small-gray {
  color: #888;
  font-size: 1.2rem;
}

.money-align {
  text-align: right;
}

.error {
  margin: 0 0 1em;
  color: #8B1820;
}

.welcome {
  margin: 4rem 0;
}

.inline-form {
  padding-top: 2rem;
}

.pull-right {
  float: right;
}

.input-group {
  position: relative;
}

#edit-transaction {
  border-top: 1px solid #D1D1D1;
  border-bottom: 1px solid #D1D1D1;
  padding-top: 10px;
  margin-top: 10px;
}

img.screenshot {
  border: 1px solid #D1D1D1;
  max-width: 300px;
  float: left;
  margin-bottom: 30px;
}

#edit-transaction form {
  margin: 0;
  padding: 0;
}

.caret {
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 8px solid #222;
  position: absolute;
  right: 10px;
  top: 15px;
  cursor: pointer;
}

.glyphicon-remove {
  position: absolute;
  right: 10px;
  top: 4px;
  line-height: 1;
  cursor: pointer;
  font-size: 1.9em;
}

.glyphicon-remove::before { 
  content: "×";
}

ul.typeahead {
  position: absolute;
  background: #FFF;
  width: 100%;
  border-bottom: 1px solid #D1D1D1;
  border-left: 1px solid #D1D1D1;
  border-right: 1px solid #D1D1D1;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin: 0;
  padding: 4px 0;
}

ul.typeahead li {
  list-style: none;
  cursor: pointer;
  margin: 0;
  padding: 3px 10px 4px;
}

ul.typeahead li a {
  color: #222;
}

ul.typeahead li.active {
  background-color: #33C3F0;
  list-style: none;
  cursor: pointer;
}

ul.typeahead li.active a {
  color: #FFF;
}

.combobox-container input {
  padding-right: 30px;
}

h1 .button {
  vertical-align: middle;
  margin-left: 15px;
}

.feature-header {
  font-weight: bold;
  font-size: 1.6rem;
}

.version-header {
  font-size: 1.5rem;
}

.button.button-warning,
button.button-warning,
input[type="submit"].button-warning,
input[type="reset"].button-warning,
input[type="button"].button-warning {
  color: #FFF;
  background-color: #D32F2F;
  border-color: #D32F2F;
}

.button.button-warning:hover,
button.button-warning:hover,
input[type="submit"].button-warning:hover,
input[type="reset"].button-warning:hover,
input[type="button"].button-warning:hover,
.button.button-warning:focus,
button.button-warning:focus,
input[type="submit"].button-warning:focus,
input[type="reset"].button-warning:focus,
input[type="button"].button-warning:focus {
  color: #FFF;
  background-color: #F44336;
  border-color: #F44336;
}